<div class='recipe-list-item'>
    <!-- by using as route /recipe/{{_id}} we're going through the database -->
    <a href='/recipes/{{_id}}' class='recipe-title'>{{title}}</a>&nbsp;&nbsp;<a href='/recipe/{{_id}}/edit'>Edit</a>
    <p class='recipe-cuisine'>Cuisine: {{cuisine}}</p>
    <img src='{{image}}' alt='{{title}}'/>
</div>