
<h2><u>{{this.title}}</u></h2>
<p><b>Level of difficulty: </b>{{this.level}}</p>
<p><b>Ingredients: </b></p>
{{#each ingredients}}
    <ul>
        <li>{{this}}</li>
    </ul>
{{/each}}
<p><b>Cuisine: </b>{{recipe.cuisine}}</p>
<p><b>Dish type: </b>{{recipe.dishType}}</p>
<img src="{{recipe.image}}" alt="" style="width:300px">
<p><b>Duration: </b>{{recipe.duration}}</p>
<p><b>Creator: </b>{{recipe.creator}}</p>
<p><b>Created: </b>{{recipe.created}}</p>
