<form action="/recipes/details/edit" method="POST">
    <label for="title-input">Title:</label>
    <input id="title-input" type="text" name="title" value="{{recipes.title}}">
    <label for="level-input">Level:</label>
    <input id="level-input" type="text" name="level" value="{{recipes.level}}">
    <label for="ingredients-input">Ingredients:</label>
    <input id="ingredients-input" type="text" name="ingredients" value="{{recipes.ingredients}}">
    <label for="cuisine-input">Cuisine:</label>
    <input id="cuisine-input" type="text" name="cuisine" value="{{recipes.cuisine}}">
    <label for="dish-input">Dish Type:</label>
    <input id="dish-input" type="text" name="dishType" value="{{recipes.dishType}}">
    <label for="image-input">Image url:</label>
    <input id="image-input" type="text" name="image" value="{{recipes.image}}">
    <label for="duration-input">Duration:</label>
    <input id="duration-input" type="text" name="duration" value="{{recipes.duration}}">
    <label for="creator-input">Creator:</label>
    <input id="creator-input" type="text" name="creator" value="{{recipes.creator}}">
    <label for="created-input">Created:</label>
    <input id="created-input" type="text" name="created" value="{{recipes.created}}">

    <button type="submit">EDIT</button>
</form>