<h1>title: {{recipe.title}}</h1>
<h3>cuisine: {{recipe.cuisine}}</h3>
<h3>creator: {{recipe.creator}}</h3>
<h3>duration: {{recipe.duration}}</h3>
<a href="/recipes">go back to recipes list</a>
<a href="../delete-recipe/{{recipe._id}}">Delete this recipe</a>