<h1>{{recipesLoop.title}}</h1>
<h2>{{recipesLoop.ingredients}}</h2>
<h2>{{recipesLoop.cuisine}}</h2>
<h2>{{recipesLoop.dishType}}</h2>
<h2>{{recipesLoop.level}}</h2>

<a href="/recipes/delete/{{recipesLoop._id}}"><button>Delete</button></a>
