<div id = "details">
    <img src="{{recipe.image}}" alt="">
    <h1>{{recipe.title}}</h1>
    <h1>{{recipe.level}}</h1>
    <h1>{{recipe.cuisine}}</h1>
    <h1>{{recipe.dishType}}</h1>
    <h1>{{recipe.creator}}</h1>
    <a href="/delete/{{recipe._id}}">DELETE ME</a>
    <a href="/update/{{recipe._id}}">UPDATE ME</a>
</div>

