<a href='/recipes'>Cancel</a>
{{#if recipe}}
<h2>Edit the fields and when satisfied press the Update button!</h2>
<form action='/recipe/update?_id={{recipe._id}}' method='post' id='form'>
    <table>
        <tbody>
            <tr><td align='right'>Title</td><td>:</td><td><input type='text' id='title' name='title' maxlength='50' value='{{recipe.title}}'></td></tr>
            <tr><td align='right'>Ingredients (comma-delimited)</td><td>:</td><td><input type='text' id='ingredients' name='ingredients' maxlength='50' value='{{recipe.ingredients}}'></td></tr>
            <tr><td align='right'>Image</td><td>:</td><td><input type='text' id='image' name='image' maxlength='50' value='{{recipe.image}}'><td></tr>
            <tr><td align='right'>Level</td><td>:</td>
                <td>
                    <select id='level' name='level'>
                    <option value='Easy Peasy'{{#if (eq recipe.level 'Easy Peasy')}} selected{{/if}}>Easy Peasy</option>
                    <option value='Amateur Chef'{{#if (eq recipe.level 'Amateur Chef')}} selected{{/if}}>Amateur Chef</option>
                    <option value='UltraPro Chef'{{#if (eq recipe.level 'UltraPro Chef')}} selected{{/if}}>UltraPro Chef</option>
                    </select>
                </td>
            </tr>
            <tr><td align='right'>Cuisine</td><td>:</td><td><input type='text' id='cuisine' name='cuisine' maxlength='50' value='{{recipe.cuisine}}'><td></tr>
            <tr>
                <td align='right'>dishType</td><td>:</td>
                <td>
                    <select id='dishtype' name='dishType'>
                        <option value='Breakfast'{{#if (eq recipe.dishType '==' 'Breakfast')}} selected{{/if}}>Breakfast</option>
                        <option value='Dish'{{#if (eq recipe.dishType 'Dish')}} selected{{/if}}>Dish</option>
                        <option value='Snack'{{#if (eq recipe.dishType 'Snack')}} selected{{/if}}>Snack</option>
                        <option value='Drink'{{#if (eq recipe.dishType 'Drink')}} selected{{/if}}>Drink</option>
                        <option value='Dessert'{{#if (eq recipe.dishType 'Dessert')}} selected{{/if}}>Dessert</option>
                        <option value='Other'{{#if (eq recipe.dishType 'Other')}} selected{{/if}}>Other</option>
                    </select>
                </td>
            </tr>
            <tr><td align='right'>Duration</td><td>:</td><td><input type='text' id='duration' name='duration' maxlength='50' value='{{recipe.duration}}'><td></tr>
            <tr><td align='right'>Creator</td><td>:</td><td><input type='text' id='creator' name='creator' maxlength='50' value='{{recipe.creator}}'><td></tr>
        </tbody>
    </table>
</form>
<input type="button" value='Submit' onclick='javascript:submit();'>
<script>
    function submit(){
        console.log("Checking input!");
        let title=document.getElementById("title").value.trim();
        let ingredients=document.getElementById("ingredients").value.trim();
        let cuisine=document.getElementById("cuisine").value.trim();
        let duration=document.getElementById("duration").value.trim();
        let creator=document.getElementById("creator").value.trim();
        if(title.length>0&&ingredients.length>0&&cuisine.length>0&&duration.length>0&&creator.length>0){
            // let's parse the ingredients into an array!!!
            console.log("Input ok!");
            ////////document.getElementById("ingredients").value="['"+ingredients.split('').join("','")+"']";
            document.getElementById("form").submit();
        }else
            alert("Title, ingredients, cuisine, duration or creator missing!");
    }
</script>
{{/if}}

