
<h1>{{recipe.title}}</h1>
<p>Cuisine: {{recipe.cuisine}}</p>
<p>Level:{{recipe.level}}</p>
<p>Dish type: {{recipe.dishType}}</p> 
<p>Duration: {{recipe.duration}}</p>
<p>{{recipe.created}}</p>
{{#each recipe.ingredients}}
<ul>
    <li>{{this}}</li>
</ul>
{{/each}}
