<h1>{{recipe.title}}</h1>
<p>This recipe's title is {{recipe.title}} and cuisine is: {{recipe.cuisine}}.</p><br>
<p>This recipe's level is: {{recipe.level}}</p><br>
<p>This recipe's dishtype is: {{recipe.dishType}}</p><br>
<p>This recipe's durations is: {{recipe.duration}} minutes</p><br>
<p>This recipe's creator is: {{recipe.creator}}</p><br>
<p>This recipe was created on: {{recipe.created}}</p><br>
