{{#each recipes}}
<h1>{{title}}</h1>
<h1>{{cuisine}}</h1>
<a href="/recipedetail/{{_id}}">go to detail page</a><br>
<a href="/delete/{{_id}}">delete Recipe</a>

<a href="/recipe-files/{{_id}}"><img src="{{image}}"></a>

{{/each}}