<input type='button' value='Show all recipes' onclick='window.location.href="/recipes";'>
<h1>Recipe of <span style='color:blue'>{{recipe.title}}</span></h1>
<table>
    <tbody>
        <tr><td align='right'>Cuisine</td><td>:</td><td>{{recipe.cuisine}}</td></tr>
        <tr><td align='right'>Ingredients</td align='right'><td>:</td><td>{{recipe.ingredients}}</td></tr>
        <tr><td align='right'>Level</td align='right'><td>:</td><td>{{recipe.level}}</td></tr>
        <tr><td align='right'>Image</td align='right'><td>:</td><td>{{recipe.image}}</td></tr>
        <tr><td align='right'>Dish type</td align='right'><td>:</td><td>{{recipe.dishType}}</td></tr>
        <tr><td align='right'>Cuisine</td align='right'><td>:</td><td>{{recipe.cuisine}}</td></tr>
        <tr><td align='right'>Duration</td align='right'><td>:</td><td>{{recipe.duration}}</td></tr>
        <tr><td align='right'>Creator</td align='right'><td>:</td><td>{{recipe.creator}}</td></tr>
        <tr><td align='right'>Created</td align='right'><td>:</td><td>{{recipe.created}}</td></tr>
    </tbody>
</table>
<!-- show the image -->
{{#if recipe.image}}
    <img src='{{recipe.image}}' alt='{{recipe.title}}'>
{{/if}}
<!-- to delete the recipe press the following button -->
<form action='/recipe/{{recipe._id}}/delete' method='get'><input type='submit' value='Delete this recipe immediately'></form>
<!--
<input type='button' onclick='javascript:fetch("/recipes/{{recipe._id}}", {method: "DELETE"});' value='Delete this recipe now'>
<script>
    function deleteRecipe(recipeId){
        var xhr1 = new XMLHttpRequest();
        xhr1.open('DELETE', "/recipes/"+recipeId, true);
        xhr1.onreadystatechange = function() {
            if (this.status == 200 && this.readyState == 4) {
                console.log("The delete should now have be done!");
                 dostuff = this.responseText;
        };//end onreadystate
        xhr1.send();
    }
</script>
-->