<form action="/recipes/update/{{recipesHbs._id}}" method="POST">
    <input type="text" name="title" value="{{recipesHbs.title}}">
    <input type="text" name="cuisine" value="{{recipesHbs.cuisine}}">
    <input type="text" name="creator" value="{{recipesHbs.creator}}">
    <input type="text" name="duration" value="{{recipesHbs.duration}}">
    <button type="submit">Create Recipe</button>
</form>