<div>
    <h1>{{title}}</h1>
</div>
<div>
    <h1>{{level}}</h1>
</div>
<div>
{{#each ingredients}}
<li>{{ this }}</li>
{{/each}}
</div>
<div>
    <h1>{{cousine}}</h1>
</div>
<div>
    <h1>{{dishType}}</h1>
</div>
<div>
    <img height="20" src="{{image}}">
</div>
<div>
    <h1>{{duration}}</h1>
</div>
<div>
    <h1>{{creator}}</h1>
</div>
<div>
    <h1>{{created}}</h1>
</div>
