<div class="container py-5 px-2">
    <div class="row py-3 px-2">
        <h1>{{recipe.title}}</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="{{recipe.image}}" class="recipe-img" alt="{{recipe.title}}">
        </div>
        <div class="col-6">
            <h2><i>Ingredients </i></h2>
            <ul>
                {{#each recipe.ingredients}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p> <b> <i>Level:</i></b> {{recipe.level}}</p>
            <p> <b> <i>Cuisine : </i></b> {{recipe.cuisine}}</p>
            <p> <b> <i>Dish type: </i></b> {{recipe.dishType}}</p>
            <p> <b> <i>Creator: </i></b> {{recipe.creator}}</p>
            <p> <b> <i>Duration: </i></b> {{recipe.duration}}</p>
            <p> <b> <i>Created: </i></b> {{recipe.created}}</p>
            <a class="btn btn-outline-secondary mt-3 mr-2" href="/delete?id={{recipe._id}}">Delete this recipe</a>
            <a class="btn btn-outline-secondary mt-3" href="/update?id={{recipe._id}}">Update this recipe</a>
        </div>
    </div>

</div>