<form action="/edit" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" name="title" value={{recipe.title}}><br>   {{!-- recipe match 1 --}}
  
    <label for="level">Difficulty level:</label><br>
    <input type="text" name="level" value={{recipe.level}}><br>
    {{!-- <select type="text" name="level">
        <option value="Easy Peasy">Easy peasy</option>
        <option value="Amateur Chef">Amateur Chef</option>
        <option value="mercedes">UltraPro Chef</option>
    </select><br> --}}
   
    <label for="ingredients">Ingredients:</label><br>
    <input type="text" name="ingredients" value={{recipe.ingredients}}><br>
    
    <label for="cuisine">Cuisine:</label><br>
    <input type="text" name="cuisine" value={{recipe.cuisine}}><br>
    
    <label for="dishType">Type of Dish:</label><br>
    <input type="text" name="dishType" value={{recipe.dishType}}><br>
    {{!-- <select name="dishType">
        <option value="breakfast">Breakfast</option>
        <option value="dish">Dish</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
    </select><br> --}}
    
    <label for="image">Image:</label><br>
    <input type="text" name="image" value={{recipe.image}}><br>
    
    <label for="duration">Duration:</label><br>
    <input type="text" name="duration" value={{recipe.duration}}><br>
    
    <label for="creator">Creator:</label><br>
    <input type="text" name="creator" value={{recipe.creator}}><br>
   
    <input type="hidden" value="{{recipe.id}}" name="id"><br>
    <button type="submit">Edit</button>
</form>