<form action="/recipes/update" method="POST">
    <input type="text" value="{{recipe.title}}" placeholder="title" name="title"><br>
    <input type="text" value="{{recipe.image}}" placeholder="image url" name="image"><br>
    <label for="level">Level:</label>
    <select name="level" id="level">
        <option value="Easy Peasy">Easy Peasy</option>
        <option value="Amateur Chef">Amateur Chef</option>
        <option value="UltraPro Chef">UltraPro Chef</option>
    </select><br>
    <input type="text" value="{{recipe.cuisine}}" placeholder="cuisine" name="cuisine"><br>
    <input type="text" value="{{recipe.creator}}" placeholder="creator" name="creator"><br>
    <input type="number" value="{{recipe.duration}}" placeholder="duration" name="duration" min="0"><br>
    <label for="dishType">Dish Type:</label>
    <select name="dishType" id="dishType">
        <option value="breakfast">Breakfast</option>
        <option value="main_course">Main Course</option>
        <option value="soup">Soup</option>
        <option value="snack">Snack</option>
        <option value="drink">Drink</option>
        <option value="dessert">Dessert</option>
        <option value="other">Other</option>
    </select><br>
    {{#each recipe.ingredients}}
        <input type="text" value="{{this}}" placeholder="ingredient" name="ingredients">
    {{/each}}<br>
    <input type="text" hidden value="{{recipe.id}}" name="id">
    <button>Update Recipe</button>
</form>